.homeDiv.center

	.about
		%h1 FAYE CHENG
		%img{:src => "assets/self-bw-1.png", :id => "self"}
		%h3#leftH3 Full-stack Software Engineer
		%h3#rightH3 Aspiring Product Manager
		.aboutText
			I'm a graduate student at Mills College studying Computer Science. I began as a Sociology major interested in entrepreneurship and business, who soon discovered my love for programming and creating new products.
			%p
			%b What makes me different?
			I have a very diverse skillset that allows me to contribute to multiple facets of a project. In addition to being a programmer, I am a writer, artist, a meticulous organizer, public speaker, and a star team member. I love growing products, and learning the technologies to bring start-up ideas to life. I enjoy using my analytical abilities to come up with ideas and innovation solutions, and I pride myself in being creative and resourceful in tackling difficult challenges.
			%p
			If you'd like to learn more about me, I'd love to chat with you! 