.designs
	%h1 Designs
	%p		
	%p
	
	.col-sm-7
		%nav
			%ul.nav.nav-tabs.list-inline
				%li
					%a{"data-toggle" => "tab", :type => "button", :href => "#dtab1"}
						%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470803354/tiger_guxjli_ryqlzl.png", :width => "180px", :height => "180px"}

				%li
					%a{"data-toggle" => "tab", :type => "button", :href => "#dtab2"}
						%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470803422/nawic_pram2q_iieoef.png", :width => "180px", :height => "180px"}
			
				%li
					%a{"data-toggle" => "tab", :type => "button", :href => "#dtab3"}
						%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470803270/lion_yiwnqx_xiri1g.png", :width => "180px", :height => "180px"}
			
				%li
					%a{"data-toggle" => "tab", :type => "button", :href => "#dtab4"}
						%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470803512/tech4alldesign_z2orbu_gksrfm.png", :width => "180px", :height => "180px"}
			
				%li
					%a{"data-toggle" => "tab", :type => "button", :href => "#dtab5"}
						%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470803587/tipsy_qo3vph_gezmha.jpg", :width => "180px", :height => "180px"}
			
				%li
					%a{"data-toggle" => "tab", :type => "button", :href => "#dtab6"}
						%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470803647/hershe_oes7rd_sfwim0.png", :width => "180px", :height => "180px"}

	.tab-content
		#dtab1.tab-pane.text-style
			%h2 Tiger Eye
			%small Sketchbook Pro
			%p
			%p
				This is an excerpt of a tiger drawing I did as part of a series of digital art pieces. My focus was on color blending and realistic light reflection in the eye.

		#dtab2.tab-pane.text-style
			%h2 NAWiC Logo
			%small Adobe Illustrator
			%p
			%p
				The
				%a{:href => "http://anitaborg.org/get-involved/systers/systers-communities/", :target => "_blank"} Native American Women in Computing
				non-profit organization reached out to me to design a logo for them. They specialize in providing a community for native american technologists as one of Anita Borg's Syster communities.
			%p 
				I included the 
				%b &lt; &gt;
				elements to signify technology. I used a block design to mimic native american art and symmetric design. 


		#dtab3.tab-pane.text-style
			%h2 Lion
			%small Colored Pencils
			%p
			%p
				For my advanced studio art class, I created this piece using colored pencils. I wanted to experiment with how I could recreate texture and shadow using a yellow color hue and with a limited palette.
			%p
		#dtab4.tab-pane.text-style
			%h2 Tech4All Logo
			%small Adobe Illustrator
			%p
			%p
				As the Co-Founder and Coordinator of the Tech4All Hackathon at Mills College, I helped with creating our publicity elements. We came up with the name "Tech4All" because we wanted to highlight the interdisciplinary nature of our hackathon, and we welcome people from various academic backgrounds to participate. 
			%p
				The light bulb signifies ideas, creativity, and innovation. The bottom of the light bulb is a blue cyclone -- our schools' colors are blue and white, and our mascot is the Cyclones. The wiring inside of the lightbulb is an "M" for Mills College.
			%p
		#dtab5.tab-pane.text-style
			%h2 Tipsy
			%small Colored Pencils
			%p
			%p
				This was drawn using colored pencils with the goal of making it as realistic as possible. I used alot of color blending techniques to achieve the final product. 

		#dtab6.tab-pane.text-style
			%h2 PinkThink HerShe
			%small Sketchbook Pro
			%p
			%p
				I created the graphics for our demo during the Qualcomm hackathon. This is HerShe, a character I developed that would lead users through our "code stories". She gained super powers through using the PinkThink bracelet. Users would follow her through a series of code challenges in order to help her find her missing dog.
		#dtab7.tab-pane.active.text-style
			%h2 Thoughtful Design
			%p
			%p
				I developed my love for art and an eye for visual design from a young age. What first began as side-hobby doodles, soon turned into commissioned pieces and logos for various organizations. Here are a few samples from my portfolio.


