.leadership
	%h1 Leadership
	%p
	.container
		.col-sm-5
			%nav.nav-sidebar
				%ul.nav.tabs
					%li.active
						%a{"data-toggle" => "tab", :href => "#tab1"}
							%b Anita Borg Institute
							&#47;&#47; Communities Chair
					%li
						%a{"data-toggle" => "tab", :href => "#tab2"}
							%b Grace Hopper Celebration
							&#47;&#47; TownHall Speaker
					%li
						%a{"data-toggle" => "tab", :href => "#tab3"}
							%b Tech4All Hackathon
							&#47;&#47; Co-Founder
					%li
						%a{"data-toggle" => "tab", :href => "#tab4"}
							%b Android App Inventor
							&#47;&#47; Teaching Assistant
					%li
						%a{"data-toggle" => "tab", :href => "#tab5"}
							%b Expanding Your Horizons
							&#47;&#47; Workshop Leader
					%li
						%a{"data-toggle" => "tab", :href => "#tab6"}
							%b ALDI
							&#47;&#47; District Manager Trainee
					%li
						%a{"data-toggle" => "tab", :href => "#tab7"}
							%b Mentorship Program
							&#47;&#47; Founder
					%li
						%a{"data-toggle" => "tab", :href => "#tab8"}
							%b Peer Academic Advising
							&#47;&#47; Coordinator
					%li
						%a{"data-toggle" => "tab", :href => "#tab9"}
							%b UCI
							&#47;&#47; Peer Academic Advisor
					

		.tab-content
			#tab1.tab-pane.active.text-style
				%h2 Future Communities Chair
				%p
					I have worked closely with the Anita Borg Institute promoting their efforts to increase diversity in tech. I will be helping coordinate the 2016 Grace Hopper Conference in Houston, Texas. I am excited to be joining the Communities committee as Future Communities Chair, where I will be working with multiple divisions of Anita Borg and establishing meaningful relations with our partners.
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252247/ghc_atprx3.png"}

			#tab2.tab-pane.text-style
				%h2 TownHall Speaker
				%p
					Recipient of a scholarship grant to attend the 2015 Grace Hopper Celebration of Women in Technology Conference. I gave a 40-minute presentation encouraging attendees to participate in hackathons by providing advice and sharing my experiences with the imposter syndrome.
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252299/gracehopperspeaker_nfxtsz.png", :id => "speaker"}
			#tab3.tab-pane.text-style
				%h2 Hackathon Co-Founder
				%p
					Along with a fellow classmate, we created the first hackathon at Mills College. As a liberal arts institution, we wanted to celebrate the interdisciplinary nature of our program, inviting participants from all backgrounds, especially non-technical, to think of ways that technology can be used to help social causes across all disciplines.
				%p
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252248/t4a_ilr50x.png", :id => "t4a"}
			#tab4.tab-pane.text-style
				%h2 Teaching Assistant
				%p
					I was one of six teaching assistants for the 2015 Summer Academic Workshop at Mills College, where we employed App Inventor to teach first-generation college students how to build mobile applications to solve social issues. The team I advised was the winning team -- we built a social justice mobile application that reports police brutality in local areas.
				%p
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252247/ai2_dbvhnc.png"}
			#tab5.tab-pane.text-style
				%h2 Workshop Leader
				%p
					I volunteered for the 2016 Expanding Your Horizons STEM Conference for young girls, as one of their workshop leaders for Computer Science. We led a group of 30 middle school students through Code.org's Hour of Code platform. We aslo included in our presentation "next steps" past block code, and we were rated as the most well-recieved workshop from the attendees.
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252247/eyh_z1kiis.png"}

			#tab6.tab-pane.text-style
				%h2 District Manager Trainee
				%p
					As one of the DMT's selected to assist the Aldi expansion into California, I trained in Chicago, IL where I learned the various facets of the business and the many responsibilities of Aldi employees to become an effective business leader. I assisted with business operations of 5 Aldi stores and 70 employees, with $680,000+ store revenue and facilitated information from the corporate office to district employees. I organized monthly budget reports, employee scheduling, sales reports and store productivity.
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252247/aldi_ircqax.png", :id => "aldi"}

			#tab7.tab-pane.text-style
				%h2 Mentorship Program Founder
				%p
					Inspired to provide new students with a solid platform for success, I created the first academic mentorship program at UCI. The U/U Mentorship Program serves incoming freshmen students and fosters greater connections between new and continuing students. In our first year we had over 300 members (and recruited 50 mentors), and the U/U Mentorship Program continues to be an important and permanent resource offered under the Division of Undergraduate Education, which has inspired the creation of other academic mentorship programs.
				%p
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252249/uci2_ldss97.png", :id => "uci2"}
			#tab8.tab-pane.text-style
				%h2 Academic Advising Coordinator
				%p
					As the Coordinator for the 2012-2013 Peer Academic Advising Program, I led 52 Peer Advisors across 15 academic departments at UC Irvine. I constructed a 10-week training program from scratch with themes focused on technical training in counseling techniques, campus resources, public speaking, leadership development, university policies and procedures. I collaborated with departmental supervisors as the acting liaison among departmental supervisors, academic counselors, and student advisors.
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252249/uci_ykfagw.png", :id => "uci"}
			#tab9.tab-pane.text-style
				%h2 Peer Academic Advisor
				%p
					I was one of six Peer Academic Advisors selected to serve the Undecided/Undeclared academic community of over 1,500 freshmen students. As a student leader, I was well-trained in university policies and procedures, academic counseling, conflict management, and public speaking. I maintained up-to-date records of all advising sessions/appointments and helped students develop their academic, leadership, and career goals.
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252249/uci_ykfagw.png", :id => "uci"}

