.resumePage
	%h1 Resume
	%form{:action => "http://res.cloudinary.com/fayecheng/image/upload/v1470252260/FayeCheng_Resume_cyd0cv.pdf", :method => "get", :target => "_blank"}
		%button{:type => "submit", :class => "btn btn-info"} Download Resume
	%br
	%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252280/resume1_sa50f4.png", :id => "resume1"}
	%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252278/resume4_z1imzz.png", :id => "resume4"}
	%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252278/resume2_ibsczq.png", :id => "resume2"}
	%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/v1470252278/resume3_vbycpi.png", :id => "resume3"}
	%p
	

%br
%br
%br
%br
%br
%br
%br
%br

	