#footer

  %br
    .footerLinks
      .footerLeft
        %b Contact me:
        fayehcheng@gmail.com
      .text-right
        %a.btn.btn-social-icon.btn-linkedin{:href => "http://www.linkedin.com/in/fayehcheng", :target => "_blank"}
          %i.fa.fa-linkedin
        %a.btn.btn-social-icon.btn-github{:href => "http://www.github.com/fhcheng", :target => "_blank"}
          %i.fa.fa-github
        %a.btn.btn-social-icon.btn-facebook{:href => "https://www.facebook.com/fayecheng21", :target => "_blank"}
          %i.fa.fa-facebook
        %a.btn.btn-social-icon.btn-twitter{:href => "https://twitter.com/fayehcheng", :target => "_blank"}
          %i.fa.fa-twitter
        %a.btn.btn-social-icon.btn-google-plus{:href => "mailto:fayehcheng@gmail.com", :target => "_blank"}
          %i.fa.fa-envelope
        %br
        .copyright
          Copyright &copy; 2016 Faye Cheng
          