#footer
  %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %br
    .footerLinks
      .footerLeft
        %b Contact me:
        fayehcheng(@)gmail.com
      .text-right.right-block
        %a{:href => "https://www.linkedin.com/in/fayehcheng", :target => "_blank"}
          %i.fa.fa-linkedin-square.fa-3x.social
        %a{:href => "https://github.com/fhcheng", :target => "_blank"}
          %i.fa.fa-github-square.fa-3x.social
        %a{:href => "https://twitter.com/fayehcheng", :target => "_blank"}
          %i.fa.fa-twitter-square.fa-3x.social
        %a{:href => "mailto:fayehcheng@gmail.com", :target => "_blank"}
          %i.fa.fa-envelope-square.fa-3x.social
        %br
        .copyright
          Copyright &copy; 2016 Faye Cheng