#footer
  %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %br
    .footerLinks
      .footerLeft
        %b Contact me:
        fayehcheng@gmail.com
      .text-right
        %a.btn.btn-social-icon.btn-linkedin{:href => "http://www.linkedin.com/in/fayehcheng", :target => "_blank"}
          %i.fa.fa-linkedin
        %a.btn.btn-social-icon.btn-github{:href => "http://www.github.com/fhcheng", :target => "_blank"}
          %i.fa.fa-github
        %a{:href => "https://www.hackerrank.com/Fhcheng", :target => "_blank"}
          %img{:src => "assets/hackerrankIcon.png", :id => "hackerrank"}
        %a.btn.btn-social-icon.btn-twitter{:href => "https://twitter.com/fayehcheng", :target => "_blank"}
          %i.fa.fa-twitter
        %a.btn.btn-social-icon.btn-google-plus{:href => "mailto:fayehcheng@gmail.com", :target => "_blank"}
          %i.fa.fa-envelope
        %br
        .copyright
          Copyright &copy; 2016 Faye Cheng
          