.projectsTop
	#carousel1.carousel.slide.carousel-fade{"data-ride" => "carousel"}
		%ol.carousel-indicators
			%li.active{"data-slide-to" => "0", "data-target" => "#carousel1"}
			%li{"data-slide-to" => "1", "data-target" => "#carousel1"}
			%li{"data-slide-to" => "2", "data-target" => "#carousel1"}
		.carousel-inner
			.active.item
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/c_scale,cs_srgb,w_700/v1470252273/i2share_eew32c.png", :id => "i2share_1"}
			.item
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/c_scale,cs_srgb,w_700/v1470252261/createProject1_jwli1v.png", :id => "i2share_2"}
			.item
				%img{:src => "http://res.cloudinary.com/fayecheng/image/upload/c_scale,cs_srgb,w_700/v1470252274/myProfile_ufqi4x.png", :id => "i2share_3"}
		%a.carousel-control.left{"data-slide" => "prev", :href => "#carousel1"} ‹
		%a.carousel-control.right{"data-slide" => "next", :href => "#carousel1"} ›
	.projectDetails
		%h1 i2share
		%h2 Project Sharing Start-up
		
		.projectTable
			%table
				%tr
					%td
						%b Role:
					%td
						%b Summer Intern, Front-end Developer
				%tr
					%td
						%b Website:
					%td
						(not yet launched)
				%tr
					%td
						%b Status:
					%td Currently in production
				%tr
					%td
						%b Tools:
					%td Ruby on Rails, HTML/CSS, Javascript, Bootstrap, Vagrant, Chef, Git, Bitbucket
%br
	.projectDescription
		%h3 Description
		%p I was a Software Engineering Intern for the start-up, i2Share, as their primary front-end developer. We worked to develop our product concept and implement our Rails App using a vagrant environment and git for version control. We held weekly scrum meetings to discuss progress and upcoming tasks, and user testing to guide our design and development. I worked closely with the back-end team for site features, and implemented good design practices.
		%h3 Product
		%p i2share is a platform that allows users to easily share their personal projects with each other, with the ability to clone and contribute content to make it their own. We specialize in giving users the opportunity to upload Python game projects.
			